body{
  background-color: rgb(25, 25, 25);
  color: whitesmoke;
  font-family: Arial;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.move-button{
  background-color: transparent;
  height: 200px;
  width: 200px;
  border: 5px solid white;
  border-radius: 100px;
  margin: 10px 20px;
  cursor: pointer;
}
img{
  height: 150px;
  width: 150px;
  
}
h3{
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin: 15px 10px;
}
.playerchoice{
  font-size: 35px;
  font-weight: bold;
  color: rgb(255, 83, 26) ;
  margin-bottom: 15px;
}
.gameresult{
  font-size: 50px;
  font-weight: bold;
  color: red;
  text-align: center;
  border: 5px solid red;
  padding: 10px;
  margin-bottom: 15px;
}
.score{
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  color: rgb(255, 255, 0);
}
.winner{
  font-size: 25px;
  font-weight: bold;
  color: rgb(0, 102, 255);
  text-align: center;
  margin-bottom: 15px;
}
.reload-button{
  display: flex;
  margin: auto;
  background-color: rgb(146, 5, 5);
  color: white;
  font-size: 25px;
  font-weight: bolder;
  padding: 15px 25px;
  border-radius: 10px;
  border: none;
}